Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
!.next/static
!.next/standalone
.git
.DS_Store

# VSCode
.vscode

# Other Folders
misc

# Nginx
conf/nginx/cert/*
!conf/nginx/cert/.gitkeep
